section.fachadas-comerciais.wrapper-wide
  h2#servicos.title O Adesivo decorativo de parede transforma ambientes
  
  h3.wrapper-skinny.description O <strong>adesivos decorativo de parede </strong>criam uma identidade ao local, personalizando espaços e tornando-os únicos.</br>Além de colorirem os ambientes, dão vida, decoram e animam qualquer espaço em que são inseridos. Para aqueles que não são adeptos do papel de parede os adesivos decorativos são uma ótima opção.</br>Seu uso pode complementar a decoração da casa e também é uma excelente opção para os escritórios, você pode usá-lo para fixar sua marca e fazer a identidade visual da sua empresa ou somente como decoração do ambiente. 
  .wrapper-skinny
    .flexslider
      ul.slides
        li
          img(src="assets/img/adesivos-decorativos/adesivo-decorativo-home-theater.jpg", alt="Adesivo decorativo - home theater")
          p.flex-caption &nbsp;&nbsp;&nbsp;&nbsp;<strong>Home theater</strong></br>&nbsp;&nbsp;&nbsp;&nbsp;Decoração de porta com vinil adesivo com impressão digital.
          
        li
          img(src="assets/img/adesivos-decorativos/adesivo-decorativo-parede-quarto-hospede.jpg", alt="Adesivo decorativo - papel de parede personalizado")
          p.flex-caption &nbsp;&nbsp;&nbsp;&nbsp;<strong>Papel de parede personalizado</strong> </br> &nbsp;&nbsp;&nbsp;&nbsp;Papel de parede personalizado criando um mural lembrando viagens realizadas. Produzido com vinil adesivo e impressão digital.
          
        li
          img(src="assets/img/adesivos-decorativos/adesivo-decorativo-plenario-camara-barueri.jpg", alt="Adesivo decorativo - Plenário Câmara Municipal de Barueri")
          p.flex-caption &nbsp;&nbsp;&nbsp;&nbsp;<strong>Plenário - Câmara Municipal de Barueri</strong></br>&nbsp;&nbsp;&nbsp;&nbsp;Decoração com vinil adesivo com impressão digital personalizando o ambiente

        li
          img(src="assets/img/adesivos-decorativos/adesivo-decorativo-QualeVita.jpg", alt="Adesivo perfurado em porta de vidro")
          p.flex-caption &nbsp;&nbsp;&nbsp;&nbsp;<strong>Porta de Vidro - QualeVita</strong></br>&nbsp;&nbsp;&nbsp;&nbsp;Instalação de vinil adesivo perfurado com impressão digital em um painel de vidro transparente com finalidade de tornar o ambiente mais reservado (o adesivo perfurado reduz em 50% a visibilidade). Além de solucionar o problema de privacidade, decora e reforça a marca.


        li
          img(src="assets/img/adesivos-decorativos/adesivo-decorativo-quarto-2.jpg", alt="Adesivo decorativo - Porta do quarto")
          p.flex-caption &nbsp;&nbsp;&nbsp;&nbsp;<strong>Adesivo Porta</strong></br>&nbsp;&nbsp;&nbsp;&nbsp;Decoração de porta com vinil adesivo com impressão digital.
          
        li
          img(src="assets/img/adesivos-decorativos/adesivo-decorativo-quarto-de-crianca.jpg", alt="Adesivo decorativo - Quarto de criança")
          p.flex-caption &nbsp;&nbsp;&nbsp;&nbsp;<strong>Quarto de criança</strong></br>&nbsp;&nbsp;&nbsp;&nbsp;O uso do vinil adesivo com impressão digital em quarto infantil como decoração.
          
        li
          img(src="assets/img/adesivos-decorativos/adesivo-decorativo-quarto-de-menina.jpg", alt="Adesivo decorativo - Quarto de Menina")
          p.flex-caption &nbsp;&nbsp;&nbsp;&nbsp;<strong>Quarto de Menina</strong> </br> &nbsp;&nbsp;&nbsp;&nbsp;Papel de parede personalizado feito com vinil adesivo e impressão digital para decorar quarto infantil.
          
        li
          img(src="assets/img/adesivos-decorativos/adesivo-decorativo-quarto.jpg", alt="Papel de parede personalizado")
          p.flex-caption &nbsp;&nbsp;&nbsp;&nbsp;<strong>Papel de parede Personalizado</strong></br>&nbsp;&nbsp;&nbsp;&nbsp;Papel de parede personalizado produzido com vinil adesivo com impressão digital.

        li
          img(src="assets/img/adesivos-decorativos/adesivo-decorativo-texturizado.jpg", alt="Papel de Parede personalizado com adesivo texturizado")
          p.flex-caption &nbsp;&nbsp;&nbsp;&nbsp;<strong>Adesivo decorativo de parede</strong></br>&nbsp;&nbsp;&nbsp;&nbsp;Papel de parede personalizado com adesivo texturizado.
