section.fachadas-comerciais.wrapper-wide
  h2#servicos.title Sua marca em constante movimento
  
  h3.wrapper-skinny.description O <strong>envelopamento de veículo</strong> é uma ótima ferramenta de marketing, pois faz da sua frota uma ferramenta permanente de propaganda por onde quer que trafegue ou estacione.</br>Seja o <strong>envelopamento</strong> total (que entre outras utilidades, proteje a pintura do veículo de riscos e arranhões) ou parcial (com aplicação de logotipos, textos e outros elementos).</br> Excelente para expor seus produtos/serviços e realça sua marca.
  .wrapper-skinny
    .flexslider
      ul.slides
        li
          img(src="assets/img/envelopamento/envelopamento-veiculo-rally-dos-sertoes-2.jpg", alt="Envelopamento de veículo - Rally dos Sertões")
          p.flex-caption &nbsp;&nbsp;&nbsp;&nbsp;<strong>Carro de apoio - Rally dos Sertões</strong></br>&nbsp;&nbsp;&nbsp;&nbsp;<strong>Envelopamento</strong>total com vinil adesivo calandrado na carroceria, e vinil adesivo perfurado nos vidros laterais e traseiro, (possibilita 50% de visibilidade), ambos com impressão digital.
          
        li
          img(src="assets/img/envelopamento/envelopamento-veiculo-grupo-cunha.jpg", alt="Envelopamento de veículo - Grupo Cunha")
          p.flex-caption &nbsp;&nbsp;&nbsp;&nbsp;<strong>Sinalização parcial - Grupo Cunha</strong></br>&nbsp;&nbsp;&nbsp;&nbsp;Aplicação de logos e faixas decorativas em vinil adesivo recortado eletronicamente, valoriza sua marca e embeleza sua frota.
          
        li
          img(src="assets/img/envelopamento/envelopamento-veiculo-restaurante-otsue.jpg", alt="Envelopamento de veículo - Otsue")
          p.flex-caption &nbsp;&nbsp;&nbsp;&nbsp;<strong>Restaurande Otsue</strong> </br> &nbsp;&nbsp;&nbsp;&nbsp;<strong>Envelopamento</strong> total com vinil adesivo calandrado na carroceria, e vinil adesivo perfurado nos vidros laterais e traseiro, (possibilita 50% de visibilidade), ambos com impressão digital. Além de eficaz ferramenta de marketing o envelopamento padroniza a sua frota.
          
        li
          img(src="assets/img/envelopamento/envelopamento-veiculo-rally-dos-sertoes.jpg", alt="Envelopamento de veículo - Rally dos Sertões")
          p.flex-caption &nbsp;&nbsp;&nbsp;&nbsp;<strong>Carro de apoio - Rally dos Sertões</strong></br>&nbsp;&nbsp;&nbsp;&nbsp;<strong>Envelopamento</strong>total com vinil adesivo calandrado na carroceria, e vinil adesivo perfurado nos vidros laterais e traseiro, (possibilita 50% de visibilidade), ambos com impressão digital.

        li
          img(src="assets/img/envelopamento/envelopamento-veiculo-gol-teorema.jpg", alt="Envelopamento de veículo - Teorema")
          p.flex-caption &nbsp;&nbsp;&nbsp;&nbsp;<strong>Sinalização parcial - Teorema</strong></br>&nbsp;&nbsp;&nbsp;&nbsp;Aplicação de logos e faixas decorativas em vinil adesivo recortado eletronicamente, valoriza sua marca e embeleza sua frota.
