section(itemscope itemtype="http://schema.org/Product").fachadas-comerciais.wrapper-wide
  h2#servicos.title Sua marca em constante movimento
    
  p.wrapper.description <span itemprop="description">O <strong><span itemprop="name">envelopamento de veículo</name></strong> é uma ótima ferramenta de marketing, pois faz da sua frota uma ferramenta permanente de propaganda</span> por onde quer que trafegue ou estacione.</br>Seja o <strong>envelopamento</strong> total (que entre outras utilidades, proteje a pintura do veículo de riscos e arranhões) ou parcial (com aplicação de logotipos, textos e outros elementos).</br> Excelente para expor seus produtos/serviços e realça sua marca.
  .wrapper-skinny
    h3.subtitle-gallery Veja alguns exemplos
    .flexslider
      ul.slides
        li
          img(itemprop="image", src="assets/img/envelopamento/envelopamento-veiculo-rally-dos-sertoes-2.jpg", alt="Envelopamento de veículo - Rally dos Sertões")
          p.flex-caption <strong>Envelopamento Carro de apoio - Rally dos Sertões</strong>
          p.flex-caption Envelopamento total com vinil adesivo calandrado na carroceria e vinil adesivo perfurado nos vidros laterais e traseiro (possibilita 50% de visibilidade), ambos com impressão digital.
          
        li
          img(src="assets/img/envelopamento/envelopamento-veiculo-grupo-cunha.jpg", alt="Envelopamento de veículo - Grupo Cunha")
          p.flex-caption <strong>Envelopamento parcial - Grupo Cunha</strong>
          p.flex-caption Aplicação de logos e faixas decorativas em vinil adesivo recortado eletronicamente, valoriza sua marca e embeleza sua frota.
          
        li
          img(src="assets/img/envelopamento/envelopamento-veiculo-restaurante-otsue.jpg", alt="Envelopamento de veículo - Otsue")
          p.flex-caption <strong>Envelopamento Parcial - Restaurande Otsue</strong>
          p.flex-caption Envelopamento total com vinil adesivo calandrado na carroceria e vinil adesivo perfurado nos vidros laterais e traseiro (possibilita 50% de visibilidade), ambos com impressão digital.
          
        li
          img(src="assets/img/envelopamento/envelopamento-veiculo-rally-dos-sertoes.jpg", alt="Envelopamento de veículo - Rally dos Sertões")
          p.flex-caption <strong>Envelopamento Carro de apoio - Rally dos Sertões</strong>
          p.flex-caption Envelopamento total com vinil adesivo calandrado na carroceria e vinil adesivo perfurado nos vidros laterais e traseiro (possibilita 50% de visibilidade), ambos com impressão digital.

        li
          img(src="assets/img/envelopamento/envelopamento-veiculo-gol-teorema.jpg", alt="Envelopamento de veículo - Teorema")
          p.flex-caption <strong>Envelopamento parcial - Teorema</strong>
          p.flex-caption Aplicação de logos e faixas decorativas em vinil adesivo recortado eletronicamente, valoriza sua marca e embeleza sua frota.
