footer.wrapper-wide
  .lockup
    a#logo(href="#") {% include icons/icon-b.html %}
      
    .content-wrap
      nav
        ul
          li#servicos
            a(href="#servicos") Serviços
          li#contato
            a(href="#contato") Contato
            
      .contact-top-bar
  			.phone
  				i.fa.fa-phone
  				a(href="tel:47891234") (11) 4789-1234
  			.email
  				i.fa.fa-envelope
  				a(href="#") contato@bikadon.com.br
  				
  			.social-media
  				a(href="#")
  					i.fa.fa-facebook-square.fa-2x
  				a(href="#")
  					i.fa.fa-linkedin-square.fa-2x
  				a(href="#")			
  					i.fa.fa-pinterest-square.fa-2x
      
      p.copyright Todos os Direitos Reservados - 2016
