footer.wrapper-wide
  .lockup
    a#logo(href="#") {% include icons/icon-b.html %}
      
    .content-wrap
      nav
        ul
          li#servicos
            a(href="#servicos") Serviços
          li#contato
            a(href="#contato") Contato
      
      p.copyright Todos os Direitos Reservados - 2016
