footer(span itemprop="provider" itemscope itemtype="http://schema.org/LocalBusiness").wrapper-wide
  .lockup
    a#logo(href="#").logo-footer {% include icons/icon-b.html %}

    .content-wrap
      nav
        ul
          li#servicos
            a(href="#servicos") Serviços
          li#contato
            a(href="#contato") Contato
            
    .contact-footer
      .social-media
        a(href="https://www.facebook.com/biakadon", target="_blank")
          i.fa.fa-facebook-square.fa-2x
        a(href="https://www.linkedin.com/company/biakadon-solu%C3%A7%C3%B5es-em-comunica%C3%A7%C3%A3o-visual", target="_blank")
          i.fa.fa-linkedin-square.fa-2x
        a(href="https://br.pinterest.com/biakadon/", target="_blank")			
          i.fa.fa-pinterest-square.fa-2x
.bottom-wrapper
  h5.description-footer BIAKADON - Soluções em Comunicação Visual &reg;      
  p.copyright.home-wrap &copy;Todos os Direitos Reservados - 2016
