footer 
  .lockup
    a#logo(href="#")
      {% include icons/icon-b.html %} 
      
    .content-wrap
      nav
        ul
          li#servicos
            a(href="#") Serviços
          li#contato
            a(href="#") Contato
      
      p.copyright Todos os Direitos Reservados - 2016
