header(itemprop="provider" itemscope itemtype="http://schema.org/LocalBusiness")
	.top-bar
		.contact-top-bar
			.phone
				i.fa.fa-phone
				a(href="tel:47891234") 
					span(itemprop="telephone") (11) 4789-1234
			.email
				i.fa.fa-envelope
				a(href="mailto:sitecontato@biakadon.com.br", itemprop="email") contato@biakadon.com.br
				
			.social-media
				a(href="https://www.facebook.com/biakadon", target="_blank")
					i.fa.fa-facebook-square.fa-2x
				a(href="https://www.linkedin.com/company/biakadon-solu%C3%A7%C3%B5es-em-comunica%C3%A7%C3%A3o-visual", target="_blank")
					i.fa.fa-linkedin-square.fa-2x
				a(href="https://br.pinterest.com/biakadon", target="_blank")
					i.fa.fa-pinterest-square.fa-2x
			

		
		a#logo(href="index.html")
			img(src="assets/img/logo.png", alt="Biakadon - Comunicação Visual")
			
		p.name 
			span(itemprop="name") Biakadon - Soluções em Comunicação Visual
		
	nav.mainnav
		.handle Menu
			.icon ☰
		.navigation
			ul.nav-menu
				li.nav-items
					a(href="fachada-comercial.html") Fachada
				
				li
					a(href="sinalizacao-interna.html") Sinalização
					
				li
					a(href="totem-sinalizacao.html") Totem
					
				li
					a(href="envelopamento-veiculos.html") Envelopamento
					
				li
					a(href="adesivo-decorativo-de-parede.html") Adesivo Decorativo
						
				li
					a(href="letra-caixa.html") Letra Caixa
				
				li
					a(href="#contato") Contato
					
	
