header.cf
	.wrapper
		a#logo(href="index.html")
			img(src="assets/img/logo.png", alt="Logo")
		nav
			ul
				li
					a(href="index.html") Serviços
				li
					a(href="index.html") Contato

.banner_wrapper
	.text_wrapper.wrapper
		h1 Soluções em Comunicação Visual
		p Soluções que atendem sua necessidade, por um por preço que </br> cabe no seu bolso.
