header.cf
	.wrapper
		a#logo(href="#")
			img(src="assets/img/logo.png", alt="Logo")
		nav
			ul
				li
					a(href="#servicos") Serviços
				li
					a(href="#contato") Contato

.banner_wrapper
	.text_wrapper.wrapper
		h1 Fachadas Comerciais
		p Uma bela fachada é uma maneira muito eficaz de conseguir novos clientes.
