header
	.top-bar
		.contact-top-bar
			.phone
				i.fa.fa-phone
				a(href="tel:47891234") (11) 4789-1234
			.email
				i.fa.fa-envelope
				a(href="mailto:sitecontato@biakadon.com.br") contato@bikadon.com.br
				
			.social-media
				a(href="https://www.facebook.com/biakadon")
					i.fa.fa-facebook-square.fa-2x
				a(href="https://www.linkedin.com/company/biakadon-solu%C3%A7%C3%B5es-em-comunica%C3%A7%C3%A3o-visual")
					i.fa.fa-linkedin-square.fa-2x
				a(href="https://br.pinterest.com/biakadon/")			
					i.fa.fa-pinterest-square.fa-2x
			
		
		
		a#logo(href="index.html")
			img(src="assets/img/logo.png", alt="Logotipo Biakadon")
		
	nav
		.handle Menu
			.icon ☰
		.navigation
			ul
				li
					a(href="fachadas-comerciais.html") Fachadas
				
				li
					a(href="#") Sinalização
					
				li
					a(href="totem-sinalizacao.html") Totens
					
				li
					a(href="#") Envelopamento
					
				li
					a(href="#") Adesivo Decorativo
					
				
					
				li
					a(href="#") Faixas & Banners
				
				li
					a(href="#contato") Contato
