header.cf
	.wrapper
		a#logo(href="#")
			img(src="assets/img/logo.png", alt="Logo")
		nav
			ul
				li#servicos
					a(href="#") Serviços
				li#contato
					a(href="#") Contato

.banner_wrapper
	.text_wrapper.wrapper
		h1 Soluções em Comunicação Visual
		p Soluções que atendem sua necessidade, por um por preço que </br> cabe no seu bolso.
