header
		
	nav
		a#logo(href="index.html")
			img(src="assets/img/logo.png", alt="Logotipo Biakadon")
		
		.handle Menu
			.icon ☰
		
		ul
			li
				a(href="#") Fachadas
			
			li
				a(href="#") Sinalização
				
			li
				a(href="#") Envelopamento
				
			li
				a(href="#") Adesivos Decorativos
				
			li
				a(href="#") Totens
				
			li
				a(href="#") Faixas & Banners
			
			li
				a(href="#contato") Contato

.banner_wrapper
	.text_wrapper.wrapper
		h1 Soluções em Comunicação Visual
		p Soluções que atendem sua necessidade, por um por preço que </br> cabe no seu bolso.
