header.cf
	.wrapper
		a#logo(href="index.html")
			img(src="assets/img/logo.png", alt="Logo")
		nav
			ul
				li
					a(href="#servicos") Fachadas
				
				li
					a(href="#servicos") Sinalização
					
				li
					a(href="#servicos") Envelopamento
					
				li
					a(href="#servicos") Adesivos Decorativos
					
				li
					a(href="#servicos") Totens
					
				li
					a(href="#servicos") Faixas & Banners
				
				li
					a(href="#contato") Contato

.banner_wrapper
	.text_wrapper.wrapper
		h1 Soluções em Comunicação Visual
		p Soluções que atendem sua necessidade, por um por preço que </br> cabe no seu bolso.
