header
	.top-bar
		.contact-top-bar
			.phone
				i.fa.fa-phone
				a(href="tel:47891234") (11) 4789-1234
			.email
				i.fa.fa-envelope
				a(href="#") contato@bikadon.com.br
				
			.social-media
				a(href="#")
					i.fa.fa-facebook-square.fa-2x
				a(href="#")
					i.fa.fa-linkedin-square.fa-2x
				a(href="#")			
					i.fa.fa-pinterest-square.fa-2x
			
		
		
		a#logo(href="index.html")
			img(src="assets/img/logo.png", alt="Logotipo Biakadon")
		
	nav
		.handle Menu
			.icon ☰
		.navigation
			ul
				li
					a(href="#") Fachadas
				
				li
					a(href="#") Sinalização
					
				li
					a(href="#") Envelopamento
					
				li
					a(href="#") Adesivo Decorativo
					
				li
					a(href="#") Totens
					
				li
					a(href="#") Faixas & Banners
				
				li
					a(href="#contato") Contato

.banner_wrapper
	.text_wrapper.wrapper
		h1 Soluções em Comunicação Visual
		p Soluções que atendem sua necessidade, por um por preço que </br> cabe no seu bolso.
