section(itemscope itemtype="http://schema.org/Product").letra-caixa-session.wrapper
  h2#servicos.title.wrapper Você está procurando uma solução eficaz e com um ótimo custo benefício para tornar  a imagem da sua empresa ainda mais marcante?

  p.wrapper.description Então você acaba de encontrar, uma ótima opção de sinalização e decoração para ambientes é a <span itemprop="name"><strong>Letra caixa</strong></span> (conhecida também por <span itemprop="name"><strong>letra-bloco</strong></span> ou <span itemprop="name"><strong>letra 3D</strong></span>) é uma das soluções mais conhecidas em comunicação visual e uma das opções mais sofisticadas e requintadas tanto para ambientes externos ou internos.
  p.wrapper.description <span itemprop="description">O efeito tridimensional torna a <strong>letra caixa</strong> uma excelente solução na decoração e/ou sinalização dos mais variados espaços, pois além de palavras ou frases ela pode ser utilizada para a criação de ícones e símbolos</span> como por exemplo sua logomarca (<strong>logo em letra caixa</strong> ou <strong>logo em letra bloco</strong>).
  
  .wrapper-skinny
    h3.subtitle-gallery Veja alguns exemplos
    .flexslider
      ul.slides
        li
          img(itemprop="image", src="assets/img/letra-caixa/letra-caixa-qualevita.jpg", alt="Letra caixa - Qualevita")
          p.flex-caption <strong>Letra caixa - Logotipo 3D</strong>
          p.flex-caption Logomarca produzida com letra caixa decoradas com vinil adesivo com impressão digital (o uso do adesivo possibilita a reprodução fiel das cores da logomarca).
          
        li
          img(src="assets/img/letra-caixa/letra-caixa-camara-barueri.jpg", alt="Letra caixa - Câmara Municipal de Barueri")
          p.flex-caption <strong>Letra de aço inox polido - Câmara de Barueri</strong>
          p.flex-caption Brasão e texto em <strong>letra caixa</strong> produzidos com chapa de aço inox polido, com corrosão e aplicação de cores com pintura automotiva no brasão.

          
        li
          img(src="assets/img/letra-caixa/letra-caixa-romu.jpg", alt="Letra caixa - Qualevita")
          p.flex-caption <strong>Letra Caixa de aço galvanizado- Fachada ROMU</strong>
          p.flex-caption Aplicação de <strong>letra caixa</strong> de chapa de aço galvanizada com pintura automotiva.

          
        li
          img(src="assets/img/letra-caixa/letra-caixa-camara-barueri-2.jpg", alt="Letra caixa - Câmara Municipal de Barueri")
          p.flex-caption <strong>Letra caixa de aço inox polido - Câmara de Barueri</strong>
          p.flex-caption Brasão e texto em <strong>letra caixa</strong> produzidos com chapa de aço inox polido, com corrosão e aplicação de cores com pintura automotiva no brasão.

      
      
  a(href="#contato")
    .text-cta Peça seu orçamento agora mesmo!
   
  h3.subtitle.wrapper Onde posso utilizar a letra caixa?

  p.wrapper.description Existe uma grande variedade nos tipos de acabamento e materiais que podem ser usados na produção de uma <strong>letra caixa</strong>, o que a torna um produto muito versátil e pode ser colocada nos mais variados ambientes, com por exemplo: 
  .list.wrapper
    ul
      li Letreiros em <a href="fachada-comercial.html" target="_blank">fachada de loja</a>
      li Logo 3D para recepção
      li Decoração de lojas
      li Igrejas
      li Escolas
      li Pictogramas para sinalização de ambientes
      li Placas e painéis
      li Decoração de escritórios
      li Decoração de casas

  h3.subtitle.wrapper Com quais materiais a letra caixa é produzida?
  
  .list.wrapper
    ul.list
      li <strong>Letra de MDF</strong>
        p.description-list O MDF é um material derivado da madeira, por esse motivo indicada para utilização em ambientes internos, mas pode ser utilizada em áreas externas se estiver protegida dos intempéries da natureza.
      li <strong>Letra de PVC</strong>
        p.description-list Sua superfície proporciona um ótimo acabamento. Tem uma alta resistência aliada a uma baixa densidade o que o torna um material leve. Pode ser utilizado para letreiros internos ou externos.
      li <strong>Letra de Acrílico</strong>
        p.description-list O Acrílico é um material nobre, leve e muito resistente, tem um acabamento brilhante e também podem ser decorados com adesivo. As letras de acrílico podem ser utilizadas em áreas internas ou externas.
      li <strong>Letra caixa de aço inox escovado</strong>
        p.description-list Possui grande durabilidade ao longo do tempo e os menores custos de manutenção, é um material sustentável pois o reaproveitamento do material não altera sua qualidade, é 100% reciclável.
      li <strong>Letra caixa de aço inox polido</strong>
        p.description-list Basicamente a única coisa que difere o aço escovado do polido é o seu acabamento, no processo de polimento o material ganha um aspecto espelhado e brilhante.
      li <strong>Letra caixa de aço galvanizado</strong>
        p.description-list A Galvanização do aço o proteje contra corrosão, sendo assim as letras de aço galvanizado podem ser usadas tanto em ambientes externos (ex. Letreiros e placas) como na recepção de uma empresa.
      li <strong>Letra caixa de latão polido</strong>
        p.description-list O latão quando polido também ganha esse aspecto espelhado / brilhante que cria um grande apelo visual e é muito resistente mesmo em ambientes externos

  h2.title.wrapper Nesse exato momento tem alguém precisando dos produtos ou serviços que você oferece, torne seu <strong>letreiro</strong> ainda mais atraente e chame a atenção de novos clientes.
