section(itemscope itemtype="http://schema.org/Product").fachadas-comerciais.wrapper-wide
  h2#servicos.title Informa e sinaliza os ambientes
    p 
      span(itemprop="name") Sinalização Interna
      
  h3.wrapper-skinny.description <span itemprop="description">Sinalize os ambientes e ao mesmo tempo reforce sua marca no interior de seu negócio com nossas soluções de sinalização interna.</span></br>Usando uma vasta linha de materias, tais como: Letra caixa, aço inox, alumínio, ACM, PS, impressão digital entre outros, nós produzimos uma sinalização que realçará a imagem da sua empresa.

  .wrapper-skinny
    a(href="assets/img/letra-caixa/letra-caixa-qualevita.jpg", data-lightbox="ga-letra", data-title="&nbsp;&nbsp;&nbsp;&nbsp;Letra caixa - Logotipo 3D </br>&nbsp;&nbsp;&nbsp;&nbsp;Logomarca produzida com letra caixa decoradas com vinil adesivo com impressão digital (o uso do adesivo possibilita a reprodução fiel das cores da logomarca).")
      img(src="assets/img/letra-caixa/letra-caixa-thumb-1.jpg", alt="Letra caixa - aço galvanizado decorada com adesivo")
    
    a(href="assets/img/letra-caixa/letra-caixa-camara-barueri-2.jpg", data-lightbox="ga-letra", data-title="&nbsp;&nbsp;&nbsp;&nbsp;Letra Caixa - Câmara de Barueri </br>&nbsp;&nbsp;&nbsp;&nbsp;Brasão e texto em letra caixa produzidos com chapa de aço inox polido, com corrosão e aplicação de cores com pintura automotiva no brasão.")
      img(src="assets/img/letra-caixa/letra-caixa-thumb-2.jpg", alt="Letra caixa - aço galvanizado decorada com adesivo")
    
      
    a(href="assets/img/letra-caixa/letra-caixa-romu.jpg", data-lightbox="ga-letra", data-title="&nbsp;&nbsp;&nbsp;&nbsp;Letra Caixa - Fachada ROMU </br>&nbsp;&nbsp;&nbsp;&nbsp;Aplicação de letra caixa de chapa de aço galvanizada com pintura automotiva.")
      img(src="assets/img/letra-caixa/letra-caixa-thumb-3.jpg", alt="Letra caixa - aço galvanizado decorada com adesivo")

    a(href="assets/img/letra-caixa/letra-caixa-galeria-do-bem.jpg", data-lightbox="ga-letra", data-title="&nbsp;&nbsp;&nbsp;&nbsp;Letra Caixa - Galeria do Bem<br>&nbsp;&nbsp;&nbsp;&nbsp;Logomarca e texto produzida com letra caixa de aço galvanizado. O Brasão também produzido com letra caixa de aço foi decorado com vinil adesivo com impressão digital (o uso do adesivo possibilita a reprodução fiel das cores da logomarca).")
      img(src="assets/img/letra-caixa/letra-caixa-thumb-5.jpg", alt="Letra caixa - aço galvanizado decorada com adesivo")

    a(href="assets/img/letra-caixa/letra-caixa-camara-barueri.jpg", data-lightbox="ga-letra", data-title="&nbsp;&nbsp;&nbsp;&nbsp;Letra Caixa - Câmara de Barueri </br>&nbsp;&nbsp;&nbsp;&nbsp;Brasão e texto em letra caixa produzidos com chapa de aço inox polido, com corrosão e aplicação de cores com pintura automotiva no brasão.")
      img(src="assets/img/letra-caixa/letra-caixa-thumb-6.jpg", alt="Letra caixa - aço galvanizado decorada com adesivo")
