
.wrapper-skinny
  .obrigado-wrap
    h1 Muito obrigado pelo seu contato
    h2 Sua mensagem foi enviada com SUCESSO!
    p Nossa equipe retornará o mais breve possível.</br>Se preferir, ligue para 
      a(href="tel:47891234") (11) 4789-1234
