section.fachadas-comerciais.wrapper-wide
  h2#servicos.title Informa e sinaliza os ambientes
  
  h3.wrapper-skinny.description Sinalize os ambientes e ao mesmo tempo reforce sua marca no interior de seu negócio com nossas soluções de sinalização interna.</br>Usando uma vasta linha de materias, tais como: Letra caixa, aço inox, alumínio, ACM, PS, impressão digital entre outros, nós produzimos uma sinalização que realçará a imagem da sua empresa.

  .wrapper-skinny
    .flexslider
      ul.slides
        li
          img(src="assets/img/sinalizacao/placa-sinalizacao-aerea-2.jpg", alt="Placa de sinalização Interna")
          p.flex-caption &nbsp;&nbsp;&nbsp;&nbsp;<strong>Sinalização Interna - Placa Aérea</strong></br>&nbsp;&nbsp;&nbsp;&nbsp;Módulo aéreo de sinalização produzido com placas de alumínio e estrutura, também de tubos de alumínio, o que a torna muito bonita e “LEVE”. Decorada com vinil adesivo recortado.
        
        li
          img(src="assets/img/sinalizacao/placa-sinalizacao-aerea.jpg", alt="Placa de sinalização Interna")
          p.flex-caption &nbsp;&nbsp;&nbsp;&nbsp;<strong>Sinalização Interna - Placa Aérea</strong></br>&nbsp;&nbsp;&nbsp;&nbsp;Módulo aéreo de sinalização produzido com placas de alumínio e estrutura, também de tubos de alumínio, o que a torna muito bonita e “LEVE”. Decorada com vinil adesivo recortado.
          
        li
          img(src="assets/img/sinalizacao/placa-sinalizacao-coluna.jpg", alt="Placa de sinalização Interna")
          p.flex-caption &nbsp;&nbsp;&nbsp;&nbsp;<strong>Sinalização Interna - Placa de coluna</strong></br>&nbsp;&nbsp;&nbsp;&nbsp;Placa de sinalização produzida com placas de alumínio e estrutura, também de tubos de alumínio, o que a torna muito bonita e “LEVE”. Decorada com vinil adesivo recortado e com fixação na perpendicular.
          
        li
          img(src="assets/img/sinalizacao/placa-sinalizacao-aerea-4.jpg", alt="Placa de sinalização Interna")
          p.flex-caption &nbsp;&nbsp;&nbsp;&nbsp;<strong>Sinalização Interna - Placa Aérea</strong></br>&nbsp;&nbsp;&nbsp;&nbsp;Placa de sinalização produzida com placa de aço inox, texto gravado em baixo relevo, com pintura automotiva. Suporte de MDF com pintura automotiva.

        li
          img(src="assets/img/sinalizacao/placa-sinalizacao-aerea-5.jpg", alt="Placa de sinalização Interna")
          p.flex-caption &nbsp;&nbsp;&nbsp;&nbsp;<strong>Sinalização Interna - Placa Aérea</strong></br>&nbsp;&nbsp;&nbsp;&nbsp;Placa de sinalização produzida com placa de aço inox, texto gravado em baixo relevo, com pintura automotiva. Suporte de MDF com pintura automotiva.

        li
          img(src="assets/img/sinalizacao/placa-porta-perpendicular.jpg", alt="Placa de sinalização Dupla-face")
          p.flex-caption &nbsp;&nbsp;&nbsp;&nbsp;<strong>Placa de sinalização dupla-face</strong></br>&nbsp;&nbsp;&nbsp;&nbsp;Com formato útil para sinalização de salas em sequência, esta placa de identificação dupla face foi produzida com chapa de aço calandrada sinalizada com vinil adesivo e impressão digital, com fixação perpendicular. 


        li
          img(src="assets/img/sinalizacao/placa-sinalizacao-mesa.jpg", alt="Placa de sinalização de Guiches de atendimento")
          p.flex-caption &nbsp;&nbsp;&nbsp;&nbsp;<strong>Placa de sinalização de Guichês de atendimento</strong></br>&nbsp;&nbsp;&nbsp;&nbsp;Placa de identificação produzida em aço inox com gravação em alto e baixo relevo com pintura automotiva.

        li
          img(src="assets/img/sinalizacao/placa-sinalizacao-parede.jpg", alt="Placa de Sinalização de Parede")
          p.flex-caption &nbsp;&nbsp;&nbsp;&nbsp;<strong>Placa de sinalização de parede</strong></br>&nbsp;&nbsp;&nbsp;&nbsp;Placa de sinalização produzida com placa de aço inox, texto gravado em baixo relevo, com pintura automotiva. Suporte de MDF com pintura automotiva.

        li
          img(src="assets/img/sinalizacao/placa-sinalizacao-acessivel.jpg", alt="Placa de Sinalização Acessível")
          p.flex-caption &nbsp;&nbsp;&nbsp;&nbsp;<strong>Placa de sinalização acessível</strong></br>&nbsp;&nbsp;&nbsp;&nbsp;Placa produzida com chapa de ACM e com sinalização em Braile.

        li
          img(src="assets/img/sinalizacao/placa-sinalizacao-fotoluminescente.jpg", alt="Placa de Emergência fotoluminescente")
          p.flex-caption &nbsp;&nbsp;&nbsp;&nbsp;<strong>Placa de emergência fotoluminescente</strong></br>&nbsp;&nbsp;&nbsp;&nbsp;(1) Placa de acm com impressão digital (2) e placa de acm com impressão serigráfica fotoluminescente


        li
          img(src="assets/img/sinalizacao/placa-sinalizacao-parede-3.jpg", alt="Placa de Sinalização de Parede")
          p.flex-caption &nbsp;&nbsp;&nbsp;&nbsp;<strong>Placa de sinalização de parede</strong></br>&nbsp;&nbsp;&nbsp;&nbsp;Placa de sinalização produzida com placa de aço inox, texto gravado em baixo relevo, com pintura automotiva. Suporte de MDF com pintura automotiva.
          
          
        li
          img(src="assets/img/sinalizacao/placa-porta-perpendicular-2.jpg", alt="Placa de sinalização Dupla-face")
          p.flex-caption &nbsp;&nbsp;&nbsp;&nbsp;<strong>Placa de sinalização dupla-face</strong></br>&nbsp;&nbsp;&nbsp;&nbsp;Com formato útil para sinalização de salas em sequência, esta placa de identificação dupla face foi produzida com chapa de aço calandrada sinalizada com vinil adesivo e impressão digital, com fixação perpendicular. 
