section.totens.wrapper-wide
  h2#servicos.title Os Totens são ótimas opções tanto para anunciar quanto para sinalizar.

  .wrapper-skinny
    .flexslider
      ul.slides
        li
          img(src="assets/img/fachadas/fachada-artteiras.jpg", alt="Fachada Comercial da Artteiras em Jandira")
          p.flex-caption &nbsp;&nbsp;&nbsp;&nbsp;<strong>Fachada Artteiras</strong></br>&nbsp;&nbsp;&nbsp;&nbsp;Transformação total da fachada produzindo beleza, rapidez e eficiência na exposição da sua marca.</br>&nbsp;&nbsp;&nbsp;&nbsp;Esse processo também conhecido com Retrofite realizado na fachada utilizando placas de ACM prata com detalhes em ACM madeirado.</br>&nbsp;&nbsp;&nbsp;&nbsp;Sinalização com letras bloco de aço galvanizado com pintura automotiva, logo-bloco com aplicação de vinil adesivo com impressão digital para reprodução fiel da logomarca. 
          
        li
          img(src="assets/img/fachadas/fachada-ganhatempo-barueri.jpg", alt="Fachada Comercial do Ganha Tempo de Barueri")
          p.flex-caption &nbsp;&nbsp;&nbsp;&nbsp;<strong>Fachada Ganha Tempo - Barueri</strong></br>&nbsp;&nbsp;&nbsp;&nbsp;Fachada produzida com placas de ACM prata com detalhes arredondados no mesmo ACM. Estrutura primária de tubo metalão.</br>&nbsp;&nbsp;&nbsp;&nbsp;Logomarcas em Vinil Adesivo com impressão digital.
          
        li
          img(src="assets/img/fachadas/fachada-qualevita.jpg", alt="Fachada Comercial da Qualevita em Barueri")
          p.flex-caption &nbsp;&nbsp;&nbsp;&nbsp;<strong>Fachada Qualevita</strong> </br> &nbsp;&nbsp;&nbsp;&nbsp;Fachada produzida com ACM madeirado, personalizada com letras bloco de chapa de aço galvanizado com pintura automotiva e aplicação de vinil adesivo com impressão digital no logo, reproduzindo todos os tons originais da logomarca. </br>&nbsp;&nbsp;&nbsp;&nbsp; A cobertura da garagem foi produzida com policarbonato bronze e estrutura tubular metalão.
          
        li
          img(src="assets/img/fachadas/fachada-escola-barueri.jpg", alt="Fachada de Escola em Barueri")
          p.flex-caption &nbsp;&nbsp;&nbsp;&nbsp;<strong>Fachada de Escola</strong></br>&nbsp;&nbsp;&nbsp;&nbsp;Sinalização com letras bloco com pintura automotiva.</br>&nbsp;&nbsp;&nbsp;&nbsp;Excelente destaque na sinalização do edifício.
