section.work-section
  h2#servicos Comunicação Visual
  
  .work-belt
    .thumb-wrap
      //THUMBS
      .thumb-container
        .thumb-unit
          img(src="assets/img/work/proj-1/thumb.jpg", alt="Fachadas")
          .thumb-overlay
            h3 Fachadas
        
        .thumb-unit
          img(src="assets/img/work/proj-2/thumb.jpg", alt="Sinalização")
          .thumb-overlay
            h3 Sinalização
            
        
        .thumb-unit
          img(src="assets/img/work/proj-3/thumb.jpg", alt="Envelopamento")
          .thumb-overlay
            h3 Envelopamento
        
        .thumb-unit
          img(src="assets/img/work/proj-4/thumb.jpg", alt="Adesivos Decorativos")
          .thumb-overlay
            h3 Adesivos Decorativos
        
        
        .thumb-unit
          img(src="assets/img/work/proj-5/thumb.jpg", alt="Totens")
          .thumb-overlay
            h3 Totens

        
        .thumb-unit
          img(src="assets/img/work/proj-6/thumb.jpg", alt="Faixas e Banners")
          .thumb-overlay
            h3 Faixas & Banners

    .work-wrap  
      //work
      .work-container
        .work-return
          {% include icons/icon-back.html %}
        h4 Get shit done
        .placeholder(style="width: 600px; height: 500px; background: #ccc;")
        p Forage gluten-free 8-bit vegan +1 poutine swag affogato, marfa asymmetrical four loko before they sold out ramps umami. Crucifix slow-carb twee, chicharrones next level dreamcatcher retro leggings photo booth. Actually umami art party, gluten-free artisan man bun forage lumbersexual franzen DIY ugh echo park keytar kale chips.
        .placeholder(style="width: 600px; height: 500px; background: #ccc;")
        p Forage gluten-free 8-bit vegan +1 poutine swag affogato, marfa asymmetrical four loko before they sold out ramps umami. Crucifix slow-carb twee, chicharrones next level dreamcatcher retro leggings photo booth. Actually umami art party, gluten-free artisan man bun forage lumbersexual franzen DIY ugh echo park keytar kale chips.
        .placeholder(style="width: 600px; height: 500px; background: #ccc;")
        p Forage gluten-free 8-bit vegan +1 poutine swag affogato, marfa asymmetrical four loko before they sold out ramps umami. Crucifix slow-carb twee, chicharrones next level dreamcatcher retro leggings photo booth. Actually umami art party, gluten-free artisan man bun forage lumbersexual franzen DIY ugh echo park keytar kale chips.
        .work-return-bottom 
          {% include icons/icon-back.html %}
