section.work-section
  h2#servicos Comunicação Visual
  h3.description-work.wrapper-skinny Com o mercado cada vez mais competitivo e o consumidor cada vez mais bem informado e exigente, uma boa aparência pode ser o ponto determinante para que o cliente escolha seu estabelecimento.
  
  .work-belt
    .thumb-wrap
      //THUMBS
      .thumb-container  
        .thumb-unit(data-folder="proj-6")
          img(src="assets/img/work/proj-6/thumb.jpg", alt="letra-caixa")
          .thumb-overlay
            strong Letra Caixa
            
        .thumb-unit(data-folder="proj-1")
          img(src="assets/img/work/proj-1/thumb.jpg", alt="Fachadas")
          .thumb-overlay
            strong Fachadas
        
        .thumb-unit(data-folder="proj-2")
          img(src="assets/img/work/proj-2/thumb.jpg", alt="Sinalização")
          .thumb-overlay
            strong Sinalização
            
        
        .thumb-unit(data-folder="proj-3")
          img(src="assets/img/work/proj-3/thumb.jpg", alt="Envelopamento")
          .thumb-overlay
            strong Envelopamento
        
        .thumb-unit(data-folder="proj-4")
          img(src="assets/img/work/proj-4/thumb.jpg", alt="Adesivos Decorativos")
          .thumb-overlay
            strong Adesivos Decorativos
        
        
        .thumb-unit(data-folder="proj-5")
          img(src="assets/img/work/proj-5/thumb.jpg", alt="Totens")
          .thumb-overlay
            strong Totens

        
        

    .work-wrap  
      //work
      .work-container
        .work-return {% include icons/icon-back.html %}
        h4.project-title
        .project-load
        
        .work-return-bottom 
          a(href="#servicos") {% include icons/icon-back.html %}
