section.fachadas-comerciais.work-section.wrapper
  h2#servicos.title.wrapper Uma boa <strong>comunicação visual</strong> deve despertar o interesse dos seus clientes logo nos primeiros segundos.
  p.wrapper.description Seu cérebro é treinado para enchergar difenças, a diferença é o que nos mantém interessado, a utilização de materiais de primeira linha e um projeto criativo e inovador vai te destacar da concorrência.
  p.wrapper.description Com o mercado cada vez mais competitivo e o consumidor cada vez mais bem informado e exigente, uma boa aparência além de criar uma <a href="https://pt.wikipedia.org/wiki/Identidade_visual" target="_blank"><strong>identidade visual</strong></a> dá credibilidade e pode ser o ponto determinante para que o cliente escolha seu estabelecimento.
  
  h2.title.wrapper Clique abaixo para saber um pouco mais sobre nossos serviços
  
  .work-belt
    .thumb-wrap
      //THUMBS
      .thumb-container  
        .thumb-unit(data-folder="proj-6")
          img(src="assets/img/work/proj-6/thumb.jpg", alt="letra caixa")
          .thumb-overlay
            strong Letra caixa
            
        .thumb-unit(data-folder="proj-1")
          img(src="assets/img/work/proj-1/thumb.jpg", alt="Fachada de loja")
          .thumb-overlay
            strong Fachada de loja
        
        .thumb-unit(data-folder="proj-2")
          img(src="assets/img/work/proj-2/thumb.jpg", alt="Placas de inalização interna")
          .thumb-overlay
            strong Sinalização interna
            
        
        .thumb-unit(data-folder="proj-3")
          img(src="assets/img/work/proj-3/thumb.jpg", alt="Envelopamento de veículo")
          .thumb-overlay
            strong Envelopamento de veículos
        
        .thumb-unit(data-folder="proj-4")
          img(src="assets/img/work/proj-4/thumb.jpg", alt="Adesivos decorativos")
          .thumb-overlay
            strong Adesivos decorativos
        
        
        .thumb-unit(data-folder="proj-5")
          img(src="assets/img/work/proj-5/thumb.jpg", alt="Totem de sinalização")
          .thumb-overlay
            strong Totem de sinalização

        
        

    .work-wrap  
      //work
      .work-container
        .work-return {% include icons/icon-back.html %}
        h4.project-title
        .project-load
        
        .work-return-bottom 
          a(href="#servicos") {% include icons/icon-back.html %}

  p.wrapper.description A Fachada da sua empresa, Totens de Sinalização, Placas de Sinlização Interna, Letra Caixa, Adesivos Decorativos e Envelopamento de Veículos são uma forma de comunicação em massa de baixo custo, se comparado com outras mídias e tem a vantagem de estarem a disposição 24 horas por dia.
  p.wrapper.description A <strong>Biakadon - Soluções em Comunicação Visual</strong> possui mão de obra especializada para criação, produção e instalação da comunicação visual da sua empresa.
  h2.title.wrapper A <strong>Comunicação Visual</strong> da sua empresa é um ótimo investimento em propaganda pois ela esta colocada exatamente na sua área de atuação.
