---
layout: default
title: Envelopamento de veículos - Biakadon
meta: O envelopamento de veículo é uma ótima ferramenta de marketing, sua marca é exposta em qualquer lugar que se veículo trafegue - Ligue (11) 4789-1234
lastmod: 2016-07-21
priority: .8
---

<div class="home-wrap">

  {% include header.html %}

  {% include banner-envelopamento.html %}

  {% include envelopamento.html %}

  {% include contact.html %}

  {% include footer.html %}

<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="/assets/js/functions.js"></script>
<script src="/assets/js/jquery.flexslider-min.js"></script>
<script>
  $(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide"
  });
  });
</script>
</div>
