---
layout: default
title: Fachada Comercial - Biakadon
meta: A Fachada comercial é uma ótima ferramenta de marketing pois exibe sua marca, produtos e serviços 24 horas por dia - Fale conosco (11) 4789-1234.
lastmod: 2016-06-30
priority: .9
---

<div class="home-wrap">

  {% include header2.html %}

  {% include banner-fachadas.html %}

  {% include fachada.html %}

  {% include contact.html %}

  {% include footer.html %}

<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="/assets/js/functions.js"></script>
<script src="/assets/js/jquery.flexslider-min.js"></script>
<script>
  $(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide"
  });
  });
</script>
</script>
</div>
