.contact-section
  background-color: $accent-color

  h2
    margin: 0
    text-align: center
    padding: 4rem 0 0 0

  .contact-wrap
    width: 90%
    max-width: 450px
    margin: 0 auto
    padding-bottom: 50px

    @media screen and (max-width: 620px)
      width: 80%
      margin: 0 auto
      padding: 0

    form
      width: 100%
      margin: 0
      padding: 0
      .contact-name, .contact-email, .contact-message
        width: 48%
        float: left
        margin-bottom: 5px

      .contact-name
        margin-right: 2%

      .contact-email
        margin-left: 2%

      .contact-message
        width: 100%
        float: left
        margin-bottom: 5px

        textarea
          width: 100%
          border-radius: 2px
          padding: .25rem
          min-height: 8rem

      label
        display: block
        margin: 10px 0 5px 0
        color: white
        font-weight: 100
        font-size: .7rem

      input
        width: 98%
        padding: .25rem
        border-radius: 2px

      input[type="submit"]
        width: 120px
        margin: .8rem 38%
        background-color: #1b8520
        border-radius: 2px
        font-family: 'Fira Sans', sans-serif;


    @media screen and (max-width: 620px)

      form
        max-width: 100%
        margin: 0 auto
        padding: 0
        .contact-name, .contact-email, .contact-message
          width: 100%
          float: none
          padding: 0
        input
          max-width: 90%
          margin-left: 0

        textarea
          max-width: 90%
