.totens
  box-sizing: border-box
  padding-bottom: 2rem
  .title
    margin: 0
    text-align: center
    padding: 4rem 0 2rem 0

  .description
    margin: 0 auto
    text-align: center
    padding-bottom: 2rem
